<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="PiotrJaworski_InternalLinking::links_manage" title="Internal Links" module="PiotrJaworski_InternalLinking"
             parent="Magento_Backend::marketing_seo" action="internallinking/link/index"
             resource="PiotrJaworski_InternalLinking::all"/>
    </menu>
</config>